<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12" style="color:#961c7b">
        <h1>Hashtags</h1>
        <hr><br><br>
        <button type="button" class="btn btn-success btn-sm" v-b-modal.hashtag-modal>Add Hashtag</button>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" style="width: 80%;">Name</th>
              <th style="width: 20%"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="hashtag in hashtags" v-bind:key="hashtag.id">
              <td>{{ hashtag.name }}</td>
              <td>
                <div class="btn-group float-right" role="group">
                  <button type="button" class="btn btn-primary btn-sm" v-on:click="editHashtag(hashtag.id)">Edit</button>
                  <button type="button" class="btn btn-danger btn-sm" v-on:click="deleteHashtag(hashtag.id)">Delete</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal ref="addHashtagModal" id="hashtag-modal" v-bind:title="isEdit ? 'Edit hashtag' : 'Add a new hashtag'" hide-footer v-on:close="initForm()">
      <b-form @submit="onSubmit" @reset="onReset" class="w-100">
        <b-form-group id="form-name-group" label="Name:" label-for="form-name-input">
          <b-form-input id="form-name-input" type="text" v-bind:class="{'is-invalid': hasFormError}" v-model="addHashtagForm.name" required placeholder="Enter name"></b-form-input>
          <div v-if="hasFormError" class="invalid-feedback">
            {{ errorMessage }}
          </div>
        </b-form-group>
        <b-button type="submit" variant="primary">Save</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
    </b-modal>
  </div>
</template>


<script>
export default {
  data() {
    return {
      hashtags: [],
      addHashtagForm: {
        id: '',
        name: ''
      },
      hasFormError: false,
      errorMessage: '',
      isEdit: false,
      serverUrl: process.env.VUE_APP_BACKEND_URL,
    }
  },
  methods: {
    getHashtags() {
      const path = `${this.serverUrl}/hashtagtwitter/hashtags`;
      
      fetch(path)
        .then((response) => response.json())
        .then((data) => {
          this.hashtags = data;
        })
    },
    addHashtag(data) {
      const path = `${this.serverUrl}/hashtagtwitter/hashtags`;
      fetch(path, {
        headers: { "Content-Type": "application/json; charset=utf-8" },
        method: 'POST',
        body: JSON.stringify(data)
      })
      .then((response) => {
        this.handleResponse(response);
      })
    },
    editHashtag(id) {
      let path = `${this.serverUrl}/hashtagtwitter/hashtags/` + id;
      this.errorMessage = '';

      fetch(path)
        .then((response) => response.json())
        .then((data) => {
          this.addHashtagForm.name = data.name;
        })
      this.addHashtagForm.id = id;
      this.isEdit = true;
      this.$refs.addHashtagModal.show();
    },
    updateHashtag(id, data) {
      const path = `${this.serverUrl}/hashtagtwitter/hashtags/` + id;
      fetch(path, {
        headers: { "Content-Type": "application/json; charset=utf-8" },
        method: 'PUT',
        body: JSON.stringify(data)
      })
      .then((response) => {
        this.handleResponse(response);
      })
    },
    deleteHashtag(id) {
      let path = `${this.serverUrl}/hashtagtwitter/hashtags/` + id;
      fetch(path, {
        method: 'DELETE'
      })
      .then((response) => {
        this.getHashtags();
        this.initForm();
      })
    },
    initForm() {
      this.addHashtagForm.name = '';
      this.isEdit = false;
      this.hasFormError = false;
      this.errorMessage = '';
    },
    onSubmit(event) {
      event.preventDefault();
      let data = {
        name: this.addHashtagForm.name
      };
      if (this.isEdit) {
        this.updateHashtag(this.addHashtagForm.id, data);
      } else {
        this.addHashtag(data);
      }
    },
    onReset(event) {
      event.preventDefault();
      this.initForm();
    },
    handleResponse(response) {
      if (response.ok) {
        this.$refs.addHashtagModal.hide();
        this.initForm();
        this.getHashtags();
      } else {
        this.handleErrors(response.status);
      }
    },
    handleErrors(status) {
      this.hasFormError = true;
      if (status == 400) {
        this.errorMessage = 'Invalid hashtag. Check if the # is present';
      } else if (status == 404) {
        this.errorMessage = 'Hashtag id does not exist';
      } else if (status == 409) {
        this.errorMessage = 'Hashtag name already exists';
      }
    }
  },
  created() {
    this.getHashtags();
  },
};
</script>
