<template>
  <div class="home container text-center">
    <h1>{{ msg }}</h1>
    <br><br>
    <p>
      To view the source code, go to 
      <a href="https://bitbucket.org/bruoliveira/hashtagtwitter" target="_blank" rel="noopener">bitbucket.org/bruoliveira/hashtagtwitter</a>
    </p>
  </div>
</template>


<script>
export default {
  name: 'home',
  props: {
    msg: String,
  },
};
</script>

<style scoped>
a {
  color: #c26fb0;
}
</style>