<template>
  <div class="container">
    <h1>Tweets</h1>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <b-nav vertical>
          <h4>Hashtags</h4>
          <b-nav-item v-for="hashtag in hashtags" v-bind:key="hashtag.id" :to="{name: 'tweets', query: { hashtag: hashtag.name.split('#')[1] }}">{{ hashtag.name }}</b-nav-item>
        </b-nav>
      </div>
      <div class="col-sm-9">
        <div v-for="tweet in tweets" v-bind:key="tweet.id">
          <b-card :footer="tweet.date" >
            <b-card-title><a :href="userLink(tweet.username)" target="_blank" class="user-link">@{{ tweet.username }}</a></b-card-title>
            <b-card-text>{{ tweet.text }}</b-card-text>
          </b-card>
        </div>
      </div>
    </div>
    <div class="overflow-auto" v-if="tweets.length > 0">
      <b-pagination-nav
        :link-gen="link"
        :number-of-pages="pages"
        :value="$route.query.page || 1"
        use-router
        align="center"
      ></b-pagination-nav>
    </div>
  </div>
</template>

<style>
.pagination {
  margin-top: 30px;
}
.card {
  margin-top: 20px;
}
.card-text {
  color: #000000;
}
.card-footer {
  color:#961c7b;
}
.user-link {
  color: #c26fb0;
}
.user-link:hover {
  color: #961c7b;
}
.page-item.active .page-link {
  background-color: #961c7b;
  border-color: #961c7b;
}
.page-link {
  color:#961c7b;
}
.page-link:hover {
  background-color: #ca8bbc;
  color:#961c7b;
  border-color: #961c7b;
}
h1 {
  color: #961c7b;
}
</style>

<script>
export default {
  data() {
    return {
      tweets: [],
      pages: 1,
      hashtags: [],
      hashtagFilter: null,
      serverUrl: process.env.VUE_APP_BACKEND_URL,
    };
  },
  methods: {
    getTweets(page) {
      const path = this.nextPage(page);
      fetch(path)
        .then(response => response.json())
        .then((data) => {
          this.tweets = data.tweets;
          this.pages = data.pages;
        });
    },
    nextPage(pageNum) {
      const path = `${this.serverUrl}/hashtagtwitter/tweets`;
      let page = `${path}?page=${pageNum}`;
      if (this.hashtagFilter) {
        page = `${page}&hashtag=${this.hashtagFilter}`;
      }
      return page;
    },
    link(pageNum) {
      return {name: 'tweets', query: {page: pageNum, hashtag: this.hashtagFilter}}
    },
    userLink(username) {
      return `https://www.twitter.com/${username}`;
    },
    updatePageContent() {
      const page = this.$route.query.page || 1;
      this.hashtagFilter = this.$route.query.hashtag;
      this.getTweets(page);
      window.scrollTo(0,0);
    },
    getHashtags() {
      const path = `${this.serverUrl}/hashtagtwitter/hashtags`;
      
      fetch(path)
        .then((response) => response.json())
        .then((data) => {
          this.hashtags = data;
        })
    },
  },
  created() {
    this.updatePageContent();
    this.getHashtags();
  },
  watch: {
    '$route' (to, from) {
      this.updatePageContent();
    }
  },
};
</script>
