<template>
  <div id="app">
    <b-nav class="nav justify-content-center">
      <b-nav-item to="/">Home</b-nav-item>
      <b-nav-item to="/hashtags">Hashtags</b-nav-item>
      <b-nav-item to="/tweets">Tweets</b-nav-item>
    </b-nav>
    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.nav {
  padding: 30px;
}

.nav a {
  font-weight: bold;
  color: #2c3e50;
}

.nav a.router-link-exact-active {
  color: #c26fb0;
}
</style>
