<template>
  <div class="home text-center">
    <br><br>
    <img alt="hashtag icon" src="../assets/image.png" class="logo-image">
    <br><br>
    <Home msg="#HashtagTwitter"/>
  </div>
</template>

<style>
.logo-image {
  width: 15%;
}
.home {
  color: #961c7b;
}

</style>

<script>

import Home from '@/components/Home.vue';

export default {
  name: 'home',
  components: {
    Home,
  },
};
</script>